.comp-container1 {
      .settings {
            .label-cursor {
                  cursor: pointer;
            }

            
      }
}

.btn-set-val {
      padding: 0.2rem 1rem;
}

.current-result {
      align-items: flex-start;
      border     : none;
      padding    : 0rem;

      #currentResult {

            .items {
                  font-size: 50px;

                  display       : flex;
                  flex-direction: column;

                  .item {
                        padding: 10px;
                  }
            }
      }
}


::ng-deep {
      .p-carousel-items-content {
            width: 45rem !important;
      }

      .p-inputtext {
            padding: 0.2rem;
      }
}

.word-item {
      .word-item-content {
            border       : 1px solid var(--surface-d);
            border-radius: 3px;
            margin       : .3rem;
            text-align   : center;
            padding      : 1rem 0;
      }

      .header {
            font-size  : 3rem;
            font-weight: bold;
            color      : black;
      }

      .image {
            width : 25rem;
            height: 25rem;
      }

      .text {
            font-size: 2rem;
            color    : black;
      }
}