<div class="comp-container1" class="p-d-flex">
      <div class="p-mr-2 settings">
            <p-panel>
                  <ng-template pTemplate="header">
                        Settings
                  </ng-template>
                  <div class="p-d-flex p-flex-column">
                        <div class="p-mb-5 p-d-flex">
                              <div class="p-mr-5"><label class="label-cursor">
                                          <p-checkbox  [binary]="true" [(ngModel)]="autoPlay" (onChange)="updateAutoPlay($event);"></p-checkbox>
                                          Auto
                                          Play
                                    </label></div>
                              <div class="p-mr-5"><label class="label-cursor">
                                          <p-checkbox [binary]="true" [(ngModel)]="shouldSpeak" (onChange)="updateShouldSpeak($event);"></p-checkbox>
                                          Should Speak

                                    </label></div>

                        </div>
                        <div class="p-mb-2 p-d-flex">
                              <div class="p-mr-2">From Letter: </div>
                              <div class="p-mr-2"> <input type="text" pInputText [(ngModel)]="startFrom" /></div>
                              <div class="p-mr-2">
                                    <button pButton type="button" class="p-button-raised btn-set-val" label="SET"
                                          (click)="updateStartFrom($event)"></button>
                              </div>
                        </div>
                  </div>
            </p-panel>

      </div>

      <div class="p-mr-2 current-result">
            <div id="currentResult">
                  <div *ngIf="items">
                        <p-carousel #slider [value]="items" [numVisible]="1" [autoplayInterval]="autoplayInterval" 
                              [page]="currentPage" [numScroll]="1" [circular]="true" [showIndicators]="false"
                              (onPage)="pageChanged($event)">
                              <ng-template pTemplate="header">
                              </ng-template>
                              <ng-template let-word pTemplate="item">
                                    <div class="word-item">
                                          <div class="word-item-content">
                                                <!-- <div class="p-mb-3"></div> -->
                                                <div>
                                                      <div class="header">{{word.alphabet}}</div>
                                                      <img class="image" [src]="word.img">
                                                      <div class="p-mt-0 p-mb-3 text">{{word.text}}</div>
                                                </div>
                                          </div>
                                    </div>
                              </ng-template>
                        </p-carousel>
                  </div>
            </div>

      </div>
</div>