<div class="comp-container">
      <div class="input-container">
            <div>Start from: </div>
            <div><input [(ngModel)]="startFrom"></div>
            <div class="btn-set-div"><button class="btn-set btn-radius-12"
                  (click)="updateCurrentNumber($event)">Set </button></div>
      </div>
      <div class="btn-container">
            <div class="item">
                  <button class="btn-radius-12" (click)="start($event)">Start</button>
            </div>
            <div class="item">
                  <button class="btn-stop btn-radius-12" (click)="stop($event)">Stop</button>
            </div>
      </div>
      <div class="current-result">
            <div id="currentResult">
                  <div *ngIf="currentItem" class="items">
                        <div class="item">{{currentItem.alphabet}}</div>
                        <div class="item" *ngFor="let item of currentItem.items">
                              {{item}}
                        </div>
                  </div>
            </div>
      </div>
</div>