.current-result {
      align-items: flex-start;
      border     : none;

      #currentResult {

            .items {
                  font-size: 50px;

                  display       : flex;
                  flex-direction: column;

                  .item {
                        padding: 10px;
                  }
            }
      }
}

.input-container {
      display  : flex;
      padding  : 20px 0px;
      font-size: 2rem;

      input {
            padding    : 6px;
            font-size  : 25px;
            width      : 150px;
            margin-left: 5px;
      }

      .btn-set-div {
            margin-top: -3px;
      }

}